@page "/"
<div class="col">
  <!-- <h1><span class="glyphicon glyphicon-lock"></span></h1> -->
  <!-- <LOCK GOES HERE> -->
  <h1 class="text-center top30 mt-5">Tracker Safe</h1>
</div>
<div class="row justify-content-center">
  <div class="col-9">
    <h5 class="text-center">Help stop the spread of COVID-19 while staying completely anonymous.</h5>
  </div>
  <div class="col-6 text-center">
    <button class="btn btn-primary btn-block mt-5" type="submit">Sign Up</button>
    <button class="btn btn-primary btn-block" type="submit">Log In</button>
  </div>
</div>