@attribute [Microsoft.AspNetCore.Components.RouteAttribute(@TrackerSafe.App.AppConstants.PageUrlHome)]
@inject NavigationManager navManager
@inject ILogger<Index> logger

<div class="col">
  <!-- <h1><span class="glyphicon glyphicon-lock"></span></h1> -->
  <!-- <LOCK GOES HERE> -->
  <h1 class="text-center top30 mt-5">Tracker Safe</h1>
</div>
<div class="row justify-content-center">
  <div class="col-9">
    <h5 class="text-center">Help stop the spread of COVID-19 while staying completely anonymous.</h5>
  </div>
  <div class="col-6 text-center">
    <button class="btn btn-primary btn-block mt-5" type="button" @onclick="NavigateToSignUp">Sign Up</button>
    <button class="btn btn-primary btn-block" type="button" @onclick="NavigateToLogin">Log In</button>
    <button class="btn btn-primary btn-block" type="button" @onclick="NavigateToPushNotifications">Test Push Notifications</button>
    <button class="btn btn-primary btn-block" type="button" @onclick="NavigateToGetLocation">Test Get Location</button>
  </div>
</div>

@code 
{
  private void NavigateToSignUp(MouseEventArgs e)
  {
    logger.LogDebug("NavigateToSignUp");
    navManager.NavigateToPage(AppConstants.PageUrlSignUp);
  }

  private void NavigateToLogin(MouseEventArgs e)
  {
    logger.LogDebug("NavigateToLogin");
    navManager.NavigateToPage(AppConstants.PageUrlLogin);
  }

  private void NavigateToPushNotifications(MouseEventArgs e)
  {
    logger.LogDebug("NavigateToPushNotifications");
    navManager.NavigateToPage(AppConstants.PageUrlPushNotifications);
  }

  private void NavigateToGetLocation(MouseEventArgs e)
  {
    logger.LogDebug("NavigateToGetLocation");
    navManager.NavigateToPage(AppConstants.PageUrlGetLocation);
  }
}