@attribute [Microsoft.AspNetCore.Components.RouteAttribute(@TrackerSafe.App.AppConstants.PageUrlHome)]
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject NavigationManager navManager
@inject ILogger<Settings> logger

<div class="content">
  <div class="col-12 text-center mt-2">
    <h2>Welcome to contactSAFE!</h2>
    <div id="carouselOnboarding" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#carouselOnboarding" data-slide-to="0" class="active"></li>
          <li data-target="#carouselOnboarding" data-slide-to="1"></li>
          <li data-target="#carouselOnboarding" data-slide-to="2"></li>
          <li data-target="#carouselOnboarding" data-slide-to="3"></li>
          <li data-target="#carouselOnboarding" data-slide-to="4"></li>
        </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/onboarding-illustration1.svg" class="img-fluid mb-2" style="height: 170px;">
          <p>We notify you when you've been in the same location as someone with COVID-19.</p>
        </div>
        <div class="carousel-item" @onclick="Carousel">
          <img src="img/onboarding-illustration2.svg" class="img-fluid mb-2" style="height: 170px;">
          <p>We do all this <strong>without</strong> collecting your personal information.</p>
        </div>
        <div class="carousel-item">
          <img src="img/onboarding-illustration3.svg" class="img-fluid mb-2" style="height: 170px;">
          <p>All you need to do is check-in at each new place you go.</p>
        </div>
        <div class="carousel-item">
          <img src="img/onboarding-illustration4.svg" class="img-fluid mb-2" style="height: 170px;">
          <p>You can even collect rewards such as discounts for local businesses.</p>
        </div>
        <div class="carousel-item">
          <img src="img/onboarding-illustration5.svg" class="img-fluid mb-2" style="height: 170px;">
          <p>Let's work as a team to stop the spread of COVID-19 and get our community back open.</p>
        </div>
      </div>
    </div>
    <div>
      @if (string.IsNullOrWhiteSpace(userName))
      {
        <button class="btn btn-primary btn-block mt-1" type="button" @onclick="NavigateToSignUp">Sign Up</button>
        <button class="btn btn-primary btn-block mt-1" type="button" @onclick="NavigateToLogin">Log In</button>
      }
      else
      {
        <h2>Welcome @userName</h2>
        <div class="text-center" style="margin-top: 1.25rem;"><p>Use the menu at the bottom to navigate around</p></div>
        <button class="btn btn-primary btn-block mt-1" type="button" @onclick="NavigateToSettings"><i class="fas fa-cogs"></i> My Settings</button>
      }
    </div>
  </div>
</div>

@code {
  private string userName = "";
  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();
    userName = localStorage.GetUserName();
  }

  private void Carousel(MouseEventArgs e)
  {
  }

  private void NavigateToSignUp(MouseEventArgs e)
  {
    logger.LogDebug("NavigateToSignUp");
    navManager.NavigateToPage(AppConstants.PageUrlSignUp);
  }

  private void NavigateToLogin(MouseEventArgs e)
  {
    logger.LogDebug("NavigateToLogin");
    navManager.NavigateToPage(AppConstants.PageUrlLogin);
  }

  private void NavigateToSettings(MouseEventArgs e)
  {
    logger.LogDebug("NavigateToSettings");
    navManager.NavigateToPage(AppConstants.PageUrlHomeLoggedIn);
  }
}