@attribute [Microsoft.AspNetCore.Components.RouteAttribute(@TrackerSafe.App.AppConstants.InvalidSession)]
@inject HttpClient Http
@inject NavigationManager navManager
@inject ILogger<InvalidSession> logger

<div class="row justify-content-center">
  <div class="col-9">
    <h3 class="text-center">You are not logged in.</h3>
    <h5 class="text-center">Help stop the spread of COVID-19 while staying completely anonymous.</h5>
  </div>
  <div class="col-6 text-center">
    <button class="btn btn-primary btn-block mt-5" type="button" @onclick="NavigateToSignUp">Sign Up</button>
    <button class="btn btn-primary btn-block" type="button" @onclick="NavigateToLogin">Log In</button>
  </div>
</div>

@code {
  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();
  }

  private void NavigateToSignUp(MouseEventArgs e)
  {
    logger.LogDebug("NavigateToSignUp");
    navManager.NavigateToPage(AppConstants.PageUrlSignUp);
  }

  private void NavigateToLogin(MouseEventArgs e)
  {
    logger.LogDebug("NavigateToLogin");
    navManager.NavigateToPage(AppConstants.PageUrlLogin);
  }
}