@attribute [Microsoft.AspNetCore.Components.RouteAttribute(@TrackerSafe.App.AppConstants.PageUrlLogin)]
@inject HttpClient Http
@inject NavigationManager navManager
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject ILogger<Login> logger
<NotLoggedInHeader Title="Log In"></NotLoggedInHeader>
<div class="row justify-content-center pt-3">
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" @bind-value="formData.UserName">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" @bind-value="formData.Password">
    </div>
    @if (!string.IsNullOrWhiteSpace(message))
    {
      <div class="alert alert-danger row justify-content-center" role="alert">
        @message
      </div>
    }
    @if (isSuccessful)
    {
      <div class="alert alert-success row justify-content-center" role="alert">
        <Spinner></Spinner>You have successfully logged in!
      </div>
    }
    else
    {
      <div class="row justify-content-center">
        <div class="col-9">
          @if (isLoading)
          {
            <LoadingButton></LoadingButton>
          }
          else
          {
            <button class="btn btn-primary btn-block mt-5" type="submit" @onclick="InitiateLogin">Log In</button>
          }
        </div>
      </div>
    }
  </form>
</div>

@code 
{
  private LogInUserRequest formData = new LogInUserRequest();
  private bool isSuccessful = false;
  private string message = "";
  private bool isLoading = false;
  private async void InitiateLogin(MouseEventArgs e)
  {
    isLoading = true;
    StateHasChanged();
    logger.LogDebug($"InitiateLogin as {formData.UserName}");
    var result = await Http.PostApiData<LogInUserResponse, Login>(navManager, logger, localStorage, $"https://trackersafe.azurewebsites.net/api/LogInUser", formData);
    logger.LogDebug($"InitiateLogin got result: {result.Successful} with message: {result.Message}");
    isSuccessful = result.Successful;
    message = result.Message;
    localStorage.SetJwt(result.Jwt);
    localStorage.SetUserName(result.UserName);
    localStorage.SetReferralCode(result.ReferralCode);
    isLoading = false;
    localStorage.SetSuccessMessage("You have successfully logged in!");
    StateHasChanged();
    navManager.NavigateToPage(AppConstants.PageUrlHomeLoggedIn, true);
  }
}