@inherits LayoutComponentBase
@inject NavigationManager navManager
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject ILogger<MainLayout> logger

@* <div class="sidebar">
    <NavMenu />
</div> *@

<div class="main">
  <div class="top-row px-4">
    <a href="https://github.com/HealthHackAu2020/TrackerSafe" target="_blank" class="ml-md-auto">About</a>
  </div>

  <div class="content px-4">
    @Body
  </div>
</div>

@code
{
  protected async override Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();
    var sessionId = Guid.NewGuid().ToString();
    logger.LogDebug("OnInitializedAsync for new session {SessionId}", sessionId);
    localStorage.SetSessionId(sessionId);
  }
}