<div class="row justify-content-center pt-3 bg-maincolour">
  <img src="img/logo.svg" height="50">&nbsp;&nbsp;&nbsp;&nbsp;
  <h1 class="text-center top30 mt-2">@Title</h1>
</div>
@code
{
  [Parameter] public string Title { get; set; }
}