<div class="bd-toc-item">
  <BSNavLink class="bd-toc-link" href="" Match=NavLinkMatch.All>
    <span class="oi oi-home" aria-hidden="true"></span> Home
  </BSNavLink>   
  <ul class="nav bd-sidenav"></ul>
</div>